html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom = footer height */
    margin-bottom: 90px;
}

.banner {
    background-color: #ff5555;
    padding: 0px;
}

.banner p {
    color: #ffffff;
}

.menu a{
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.menu li{
    display: inline
}

.dropdown-menu {
  font-size: 16px;
  margin-top: 5px;
  min-width: 105px;
}

.dropdown-menu li a {
  color: #000;
  padding: 6px 20px;
  font-weight: 300;
}

.panel-title a {
    display: block;
    padding: 10px 15px;
    margin: -10px -15px;
}

.panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";    
    float: right; 
    color: grey; 
}

.panel-heading a.collapsed:after {
    content: "\e080";
}

.bracket {
    padding-bottom: 20px;
}

.bracket row 0 p{
    text-align: center;
}

.bracketTitle h2{
    text-align: center;
    background-color: #ff5555;
    color: #ffffff;
    font-family: 'Shift', sans-serif;
}

#bracketBar {
    height: 2px;
    background-color: #000;
}

.footer {
    padding-top: 10px;
    position : absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 90px;
    background-color: #f5f5f5;
}

.copyright{
    text-align: center;
    color: #ffffff;
    background-color: #ff5555;
}


.round {
    background-color: #d3d3d3;
}

.card {
    margin: 10px;
    padding: 10px;
    background-color: #ffffff;
}

.drop-shadow {
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
    border-radius:0px;
}
